[run]
branch = True
data_file = .coverage
source=codejail_service
omit =
    codejail_service/settings/*
    codejail_service/conf/*
    *wsgi.py
    */migrations/*
    *admin.py
    */static/*
    */templates/*
